[mysqld]
# default
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
# new
gtid_mode=ON
log_bin=mysql-bin
binlog-format=ROW
log-slave-updates
enforce-gtid-consistency
server_id=1
max-connections=2000
default_authentication_plugin=mysql_native_password
# semi-sync
#plugin-load=rpl_semi_sync_master=semisync_master.so
#rpl_semi_sync_master_enabled=1
#rpl_semi_sync_master_timeout=1000 # 1 second
