[mysqld]
# default
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
log-slave-updates
max-connections=2000
default_authentication_plugin=mysql_native_password
binlog_format = ROW
server_id = 1
log-bin=mysql-bin
interactive_timeout=3600
wait_timeout=3600
max_allowed_packet=32M
