<html>
<body>
<h1>Требуется авторизация</h1>
<a href="/reg">Регистрация</a><br/><br/>
{{ if .error }}
<p style="color:red">{{ .error }}</p>
{{ end }}
<form action="/login" method="post">
    <fieldset>
        <legend>Вход</legend>

        <label for="login">Логин</label>
        <input type="text" name="login" id="login" /><br/><br/>

        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" /><br/><br/>

        <input type="submit" value="Войти" />
    </fieldset>
</form>
</body>
</html>
